<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Cadastro</h3>

      <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input id="nome" class="form-control" formControlName="nome" type="text" autofocus />
          <div *ngIf="usuarioForm.get('nome')?.invalid && usuarioForm.get('nome')?.touched">
            <small *ngIf="usuarioForm.get('nome')?.hasError('required')">Nome é obrigatório.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" class="form-control" formControlName="email" type="email" autofocus />
            <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
            <small *ngIf="usuarioForm.get('email')?.hasError('required')">Email é obrigatório.</small>
            <small *ngIf="usuarioForm.get('email')?.hasError('email')">Email inválido.</small>
            </div>
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label">Senha:</label>
          <input id="senha" class="form-control" formControlName="senha" type="password" />
            <div *ngIf="usuarioForm.get('senha')?.invalid && usuarioForm.get('senha')?.touched">
            <small *ngIf="usuarioForm.get('senha')?.hasError('required')">Senha é obrigatória.</small>
            <small *ngIf="usuarioForm.get('senha')?.hasError('minlength')">A senha deve ter pelo menos 6
              caracteres.</small>
            </div>
        </div>



        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Enviar</button>
        </div>

      </form>
    </div>
  </div>
</div>