/* You can add global styles to this file, and also import other style files */
p {
    font-style: italic;
    font-size: 50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background: linear-gradient(135deg, #409FDF, #7030A0);
  min-height: 100vh;}

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Padrão de card */
.card {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.35);
}

/* Inputs padronizados */
.form-control {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  color: white;
}

/* Botão padrão */
.btn-primary {
  background-color:  #409FDF);
  border-radius: 10px;
  height: 45px;
  font-size: 16px;
  color: white;
}